<!DOCTYPE html>
<html>

  <head>
      <!-- Load TensorFlow.js -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.7"></script>
      <!-- Load Posenet -->
      <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@0.1.2"></script>
      <!-- BootStrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="/css/style2.css" rel="stylesheet">

      <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: black;
        }
        .footer-text {
            max-width: 600px;
            text-align: center;
            margin: auto;
        }
        @media only screen and (max-width: 600px) {
          .footer-text, .dg {
            display: none;
          }
        }
    </style>
  </head>

  <body>
    <div class="container resultspad horizontal vertical  ">
      <div class="row">
        <div class="col">
          <img id='squat'/>
          <canvas id="output" />
        </div>

        <div class="col ">
            <p id="feedback"></p>
        </div>

      </div>
    </div>
  </body>

  <script src="/js/feedback.js" path='<%= path %>'></script>

</html>
